<h3>Empleado</h3>
<div class="card" style="width: 18rem;">

    <form [formGroup]="fg" (ngSubmit)="submit()">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                <div>
                    <label>dni</label>{{employee.dni}}
                </div>
                <label>nombre</label><input type="text" formControlName="name">
                <label>primer apellido</label><input type="text" formControlName="first_lastname">
                <label>segundo apellido</label><input type="text" formControlName="second_lastname">
                <div>
                    <label>email</label>{{employee.email}}
                </div>
                <label>fecha de nacimiento</label><input type="text" formControlName="birthDate">
                <label>departamento</label>
                <select formControlName="department">
                  <option value="administración">administración</option>
                  <option value="tienda">tienda</option>
                  <option value="contabilidad">contabilidad</option>
                </select>

            </li>
        </ul>
        <button [disabled]="fg.invalid" type="submit">Editar</button>
    </form>

</div>